.form-card{
    border: 1px solid black;
    border-radius: 2rem;
    background-color: white;
    width: 70%;
    /* height: 90vh; */

    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.custom-radio{
    display: flex;
    justify-content: start;
    
    >.custom-control-label{
        margin-left: 10px;
    }
}

.card-img-top {
    height: 170px;
}