*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #FFBB5C;
}

.main-index{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 2.8rem;
    color: #272829;

    margin-top: 2rem;
}
