.card-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 4rem;

    margin-top: 2.5rem;
}

.card-div a{
    text-decoration: none;
    color: black;
    font-weight: 450;
}

.card{

    border: 2px solid black;
    border-radius: 2rem;
    background-color: white;

    width: 20rem;
    height: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 450;
}

.card .img-client{
    width: 14rem; 
}

.card .img-func{
    width: 18rem;
}

.card:hover{
    scale: 1.1;
}